body {
    color: #1a1a1a;
    background-color: #E4E4E4;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 24px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px); /* Padding to avoid the "unsafe" areas behind notches in the screen */
}

#root {
    max-width: 1280px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.icon {
    background: transparent;
    font-size: 2em;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    z-index: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #efefef;
    border-radius: 0 0 0 16pt;
    box-shadow: 3px -1px 8px #000;
    padding: 0.25em 0 0.5em 0;
    overflow: hidden;
}

.controls button {
    margin: 0;
    border: none;
    border-left: 3pt solid transparent;
    color: #000;
    font-size: 1em;
    padding: 0.125em 0.5em;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: left;
}

.controls button.on {
    border-left: 3pt solid rgb(41, 228, 41);
}

.controls button:hover {
    background-color: #fff;
}

.controls button:active {
    background-color: #e0e0e0;
}

.footer {
    width: 100%;
}
